
.condition {
    display: flex;
    justify-content: space-between;
    margin: auto;
    font-size: 23px;
    align-items: center;
}

.condition Input {
    display: flex;
    width: 100px;
    text-align: center;
    /*max-width: 30%;*/
    /*height: 20px;*/

}