
.condition {
    display: flex;
    justify-content: space-between;
    margin: auto;
    font-size: 23px;
    align-items: center;
}

.condition input {
    display: flex;
    max-width: 30%;
    height: 20px;
}