* {
    margin: 0;
    padding: 0;
}

.container {
    background-color: aquamarine;
    height: 100vh;
    display: grid;
    justify-content: space-around;
    align-items: center;
}
.counter {
    display:flex;
    background-color: blueviolet;
    height: 60vh;
    border-radius: 25px;
    flex-direction:column;
    justify-content: center;
}
.counterNumber, .conditions{
    display: flex;
    border-radius: 25px;
    margin: 11px;
    border: 5px solid chartreuse;
    height: 200px;
}
.counterButton, .button-set{
    border-radius: 25px;
    margin: 11px;
    border: 5px solid chartreuse;
    height: 100px;
    display: grid;
    grid-template-columns:  repeat(3, 100px);
    align-items: center;
    justify-content: center;
}
.counterNumber h2{
    margin: auto;
    font-size: 45px ;
}
.button-set{
    display: flex;
    align-items: center;
}
.conditions{
    display: grid;
    grid-template-rows: repeat(2, auto);
}